<div x-data="{expanderOpen:false}"
    class="w-full border-t last-of-type:border-b {{if text_color == 'light'}}border-light-text-color{{else}}border-dark-text-color{{/if}} py-fm-md">
    <div class="flex flex-row justify-between">
        <div class="grow grid grid-cols-1 lg:grid-cols-4">
            <div class="h6 text-left w-full {{ if text_columns|count < 2 }}lg:col-span-2{{/if}}">{{title}}</div>
            {{text_columns}}
            <div class="h6 text-left w-full {{ if text_columns|count < 2 }}lg:col-span-2{{/if}}">{{column_text}}</div>
            {{/text_columns}}
        </div>

        {{if text_content}}
        <svg @click="expanderOpen = !expanderOpen" class="cursor-pointer" width="31" height="31" viewBox="0 0 31 31"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15.5" cy="15.5" r="14.5"
                class="{{if text_color == 'light'}}stroke-light-text-color{{else}}stroke-dark-text-color{{/if}}" />
            <path d="M15.5 22L15.5 9" :class="expanderOpen ? 'opacity-0' : 'opacity-100'"
                class="{{if text_color == 'light'}}stroke-light-text-color{{else}}stroke-dark-text-color{{/if}} transition-all duration-200" />
            <path d="M9 15.5H22"
                class="{{if text_color == 'light'}}stroke-light-text-color{{else}}stroke-dark-text-color{{/if}}" />
        </svg>
        {{else}}
        <div class="w-[31px] h-[31px]">

        </div>
        {{/if}}
    </div>
    {{if text_content}}
    <div x-cloak
        :class="expanderOpen ? 'max-h-[3000px] opacity-100 pt-fm-md' : 'max-h-0 overflow-hidden opacity-0 pt-0'"
        class="flex flex-row transition-all duration-200">
        {{if numbered_rows}}
        <div class="{{partial:text_color}} min-w-c-[33px,600px]"></div>
        {{/if}}
        <div class="prose max-w-none {{partial:text_color}} lg:max-w-[75%]">
            {{partial:text_content}}
        </div>
    </div>
    {{/if}}
</div>