<div class="max-w-max {{partial:alignment}}">
    <a href="{{download_asset}}" download class="no-underline"  target="_blank">
        <div
            class="flex flex-row items-center gap-x-fm-3xs">
            <div class="button-text no-underline {{partial:text_color}}">{{button_text}}</div>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-c-[15px,24px] {{partial:stroke}}" viewBox="0 0 16 17" fill="none">
                <circle cx="8" cy="8.5" r="7.5" stroke-width="0.75" />
                <path d="M4.5 8.5H11M11 8.5L8.5 6M11 8.5L8.5 11" stroke-width="0.75" /></svg>
        </div>
    </a>
</div>