<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
      
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        {{site_theme:favicon}}
        <link rel="shortcut icon" type="image/x-icon" href="{{url}}" />
        {{/site_theme:favicon}}
        {{partial:style_variables}}
        {{ seo_pro:meta }}
        <link rel="stylesheet" href="https://use.typekit.net/xhq8jwx.css" />
        <script>
            window.headerFont = "{{site_theme:header_font}}";
            window.paragraphFont = "{{site_theme:paragraph_font}}";
        </script>
        <style>
            :root {
                --header-font: '{{site_theme:header_font}}';
                --paragraph-font: '{{site_theme:paragraph_font}}';
            }
        </style>
    </head>

    <body class="">
        {{ template_content }} {{ vite src="resources/js/site.js" }}
    </body>
</html>
