<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
      
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        {{site_theme:favicon}}
        <link rel="shortcut icon" type="image/x-icon" href="{{url}}" />
        {{/site_theme:favicon}}
        {{partial:style_variables}}
        {{ seo_pro:meta }}
        <link rel="stylesheet" href="https://use.typekit.net/xhq8jwx.css" />
        <!-- expose fonts to JS -->
        <script>
            window.headerFont = "{{site_theme:header_font}}";
            window.paragraphFont = "{{site_theme:paragraph_font}}";
            window.h1FontOverride = "{{site_theme:h1_font_override}}";
            window.h2FontOverride = "{{site_theme:h2_font_override}}";
            window.h3FontOverride = "{{site_theme:h3_font_override}}";
            window.h4FontOverride = "{{site_theme:h4_font_override}}";
            window.h5FontOverride = "{{site_theme:h5_font_override}}";
            window.h6FontOverride = "{{site_theme:h6_font_override}}";
            window.navFont = "{{site_theme:nav_font ?? site_theme:paragraph_font}}";
            window.buttonFont = "{{site_theme:button_font ?? site_theme:paragraph_font}}";
        </script>
    </head>

    <body class="">
        {{ template_content }} {{ vite src="resources/js/site.js" }}
    </body>
</html>
